.posts {
  display: flex;
  position: relative;
  height: 20rem;
  overflow-x: auto;
  overflow-y: hidden; /* 縦スクロールバーを非表示にする */
  padding-bottom: 10px;

  /* スクロールバーのスタイルをカスタマイズ */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.posts_card {
  @extend .card !optional;
  flex-shrink: 0;
  width: 300px;
  height: auto;
  margin-left: -5rem;
  margin-right: -5rem;
}

.end-of-data {
  font-size: 2rem;
  height: 4rem;
  margin-top: 100px;
  color: #aaa;
  // 背景色を透明に指定
  background-color: transparent;
}

.modal-dialog {
  margin-top: 30%;
}

.modal-content {
  // 少し透明にする
  background-color: rgba(255, 255, 255, 0.8);
}
